html, body {
    height: 100%; 
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 40%; 
    background-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.new-post-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-message{
    color: white;
}

#newPostButton{
    align-self: flex-start;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 3%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#newPostButton:hover{
    background-color: #a9a9a9;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.new-post-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 400px;
    border-radius: 8px;
}

.new-post-close-button,
.submitButton{
    background-color: #a9a9a9;
    border: none;
    border-radius: 25px;
    padding: 3%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blog-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blog-tile{
    box-shadow:  0 -1px 2px rgba(0,0,0,0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.blog-buttons-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 5px;
}

.blog-buttons
,.view-back-button{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blog-buttons:hover{
    background-color: #a9a9a9;
}

.view-page{
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: white;
    z-index: 1002; 
    padding: 20px;
    overflow: auto;
}

